<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "API Documentation" %></title>

    <%- stylesheet_link_tag('screen', 'screen') %>
    <%- stylesheet_link_tag('print', 'print') %>
    <%- stylesheet_link_tag('highlight-' + current_page.data.highlight_theme, 'screen, print') %>
    <%- javascript_include_tag('all') %>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://cosmicjs.com/images/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://cosmicjs.com/images/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://cosmicjs.com/images/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://cosmicjs.com/images/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://cosmicjs.com/images/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://cosmicjs.com/images/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://cosmicjs.com/images/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://cosmicjs.com/images/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://cosmicjs.com/images/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="https://cosmicjs.com/images/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="https://cosmicjs.com/images/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://cosmicjs.com/images/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://cosmicjs.com/images/favicons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="https://cosmicjs.com/images/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="https://cosmicjs.com/images/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="https://cosmicjs.com/images/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="https://cosmicjs.com/images/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="https://cosmicjs.com/images/favicons/mstile-310x310.png" />
    <meta property="og:image" content="https://cosmicjs.com/images/marketing/logo.png" />
  </head>

  <body class="<%= page_classes %>" data-languages="<%= JSON.stringify(langs) %>">
    <div style="background: #fff; z-index: 100; position: fixed; width: 100%">
      <div style="background: rgba(255,229,100,.3); padding: 20px; text-align: center; border-bottom: 5px solid #e7c000">These are the old docs. Go the the <a href="https://cosmicjs.com/docs/rest-api">new Cosmic JS REST API documentation</a>.</div>
    </div>
    <a href="#" id="nav-button">
      <span>
        NAV
        <%- image_tag('navbar.png') %>
      </span>
    </a>
    <div class="tocify-wrapper" style="padding-top: 55px">
      <div style="text-align: center; margin-top: 15px">
        <a href="https://cosmicjs.com" style="text-decoration: none">
          <img src="https://cosmicjs.com/images/logo.svg" width="60"/><br />
          <h2 style="color: #fff;">REST API</h2>
        </a>
      </div>
      <% if (langs) { %>
        <div class="lang-selector">
          <% for(var i=0; i<langs.length; i++) { %>
            <a href="#" data-language-name="<%= langs[i] %>"><%= langs[i] %></a>
          <% } %>
        </div>
      <% } %>
      <% if (current_page.data.search) { %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% } %>
      <div id="toc">
      </div>
      <% if (current_page.data.toc_footers) { %>
        <ul class="toc-footer">
          <% for(var i=0; i<current_page.data.toc_footers.length; i++) { %>
            <li><%- current_page.data.toc_footers[i] %></li>
          <% } %>
          <li  style="font-size: 15px; padding-top: 10px"><a href='https://cosmicjs.com'>← Back to Cosmic JS</a></li>
        </ul>
      <% } %>
    </div>
    <div class="page-wrapper" style="padding-top: 55px">
      <div class="dark-box"></div>
      <div class="content">
        <% for(var i=0; i<includes.length; i++) { %>
          <%- includes[i] %>
        <% } %>
      </div>
      <div class="dark-box">
        <% if (langs) { %>
          <div class="lang-selector">
            <% for(var i=0; i<langs.length; i++) { %>
              <a href="#" data-language-name="<%= langs[i] %>"><%= langs[i] %></a>
            <% } %>
          </div>
        <% } %>
      </div>
    </div>
    <script>
      window.intercomSettings = {
        app_id: "o4fm83zs"
      };
      </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/o4fm83zs';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
